model_llama_fine_tuning/model_llama_colombiano_LoRA
fastAPI/__pycache__/
fastAPI/venv
model_llama_fine_tuning_run/venv
model_llama_fine_tuning_run/llama_colombiano_merged
model_llama_fine_tuning_run/llama_colombiano_mlx_q4
cromadb/chroma_db
chromadb/venv
.venv
chromadb/vector_db