fastAPI/__pycache__/
fastAPI/venv
model_llama_finetuning/venv
model_llama_finetuning/llama_ventas_colombiano_merged
model_llama_finetuning/llama_ventas_colombiano_mlx_q8
model_llama_finetuning/llama_ventas_colombiano_LoRA
chromadb/chroma_db
chromadb/venv
.venv
chromadb/vector_db
model_tts_finetuning/speecht5_tts_colombian_final
model_tts_finetuning/speecht5_tts_colombian
model_tts_finetuning/speaker_embedding.npy
model_tts_finetuning/dataset_colombian