model_llama_fine_tuning/llama_colombiano_LoRA
fastAPI/__pycache__/
fastAPI/venv
model_llama_fine_tuning/venv
model_llama_fine_tuning/llama_colombiano_merged
model_llama_fine_tuning/llama_colombiano_mlx_q4
chromadb/chroma_db
chromadb/venv
.venv
chromadb/vector_db
model_tts_finetuning/speecht5_tts_colombian_final
model_tts_finetuning/speecht5_tts_colombian
model_tts_finetuning/speaker_embedding.npy
model_tts_finetuning/dataset_colombian